<center>
	<h1>Enter User id which you want to Edit some Changes</h1>
	<form>

		<text>Enter Update name</text>
		<input type="text"/><br/>
		<text>Enter update Book name</text>
		<input type="text"/><br/>
		<text>Enter Price</text>
		<input type="text"/><br/>
		<button>Update</button>
	</form>
</center>