<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<h1 id="h1">this is example</h1>
<%= image_tag "/images/v.jpg" %>
<!-- <img src="/v.jpg"> -->
</body>
</html>


